html {
  font-size: 16px;
  box-sizing: border-box;
}
body {
  background-image: url(../images/bakgrund4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  font-family: "Roboto", sans-serif;
}

/* header section with company name coming into focus on hover */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

h1 {
  color: white;
  letter-spacing: 3px;
  font-family: "Sources Code Pro", monospace;
  text-transform: uppercase;
}

.title {
  display: inline-flex;
  font-size: 6rem;
  max-width: 90%;
  opacity: 0.4;
  padding-top: 3rem;
  animation-name: top;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes top {
  from {opacity: 0.4}
  to {opacity:0.8;}
}

/* dropdown menu */
.dropbtn {
  display: flex;
  background-color: transparent;
  text-align: center;
  font-size: 3rem;
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 10%;
  font-family: "Roboto", sans-serif;
  padding-top: 3rem;
  padding-left: 2rem;
}

.dropdown-content {
  /*display: none;*/
  text-align: center;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  /*background-color: #f1f1f1;*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  font-size: 1.5rem;
  padding: 0.2rem;
  font-style: italic;
  text-decoration: none;
  display: block;
}

.dropdown-content span {
  color: white;
  font-size: 1.5rem;
  padding: 0.2rem;
  font-style: italic;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  /*background-color: #78909C;*/
  color: white;
  border-radius: 10%;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: inline-flex;
  text-align: center;
  visibility: visible;
  opacity: 0.8;
  transition: all 2s ease-in-out;
}

.dropdown-content:hover span{
  color: black;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /*background-color: #37474F;*/
  transform: scale(1.1);
  transition: all 1.5s ease-in-out;
}

/* main body of landing page */

.main-container {
  display: flex;
  margin: 4rem 2rem;
  padding-bottom: 4rem;
  border-bottom: 2px solid darkgrey;
}

.presentation {
  display: flex;
}

.info-boxes {
  display: flex;
  align-items: flex-start;
  max-width: 50%;
}

.info-boxes img {
  width: 50%;
  border: 3px solid white;
  transition: all 2s ease-in-out;
}

.info-boxes::after img::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.info-boxes img:hover {
  transform: scale(1.1);
}

.description {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  padding-left: 2rem;
  padding-right: 1rem;
  border-right: 2px solid darkgrey;
}
.section-title {
  font-size: 1.6rem;
  color: black;
}

.description p {
  line-height: 1.2;
  padding-top: 1rem;
}

.timeline {
  display: flex;
  background-image: url(../images/timelinebackground.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
  width: 90%;
}
